<!DOCTYPE html>
<html>
	<head>
		<% include ../partials/header.ejs %>
		<style>
			#chat {
				height: 50vh;
			}
		</style>
		<script>
			var websocket;
			
			$(function() {
				websocket = new WebSocket("wss://securechat-relay.herokuapp.com/");
				websocket.onopen = function(evt) {
					addMsg("<b>Connection to server established</b>");
				};
				websocket.onclose = function(evt) {
					addMsg("<b>Connection closed.</b>");
				};
				websocket.onmessage = function(evt) {
					if(evt.data !== "ping") {
						var uname = evt.data.split(":")[0],
							msg = evt.data.substring(uname.length + 1);
						addMsg("<b>" + strip_tags(uname) + ":</b> " + strip_tags(msg, "<b><i><u><p><ol><ul><li><img>"));
					}
				};
				websocket.onerror = function(evt) {
					addMsg("<b>An error has occurred</b>");
				};
				
				$("#input").on("keydown", function(e) {
					if(e.keyCode == 13) {
						websocket.send($("#name").val() + ":" + $("#input").val());
						$("#input").val("");
					}
				});
			});
			
			function addMsg(html) {
				$("#chat").append("<div>" + html + "</div>");
			}
			
			//http://stackoverflow.com/a/31259386/5740053
			function strip_tags(input, allowed) {
				allowed = (((allowed || '') + '').toLowerCase().match(/<[a-z][a-z0-9]*>/g) || []).join('');
				var tags = /<\/?([a-z][a-z0-9]*)\b[^>]*>/gi,
				commentsAndPhpTags = /<!--[\s\S]*?-->|<\?(?:php)?[\s\S]*?\?>/gi;
				return input.replace(commentsAndPhpTags, '')
				.replace(tags, function($0, $1) {
				  return allowed.indexOf('<' + $1.toLowerCase() + '>') > -1 ? $0 : '';
				});
			}
			//\\
		</script>
	</head>

	<body>

		<% include ../partials/nav.ejs %>

		<div class="jumbotron text-center">
			<div class="container">
				<a href="/" class="lang-logo">
					<img src="/lang-logo.png">
				</a>
				<h1>securechat-relay</h1>
				<p>Not secure at the moment, but chat works.</p>
				<a type="button" class="btn btn-lg btn-primary" href="#chat"><span class="glyphicon glyphicon-user"></span> Start chatting</a>
				<a type="button" class="btn btn-lg btn-default" href="https://github.com/HizkiFW/nodejs-chat-relay"><span class="glyphicon glyphicon-link"></span> Source code</a>
			</div>
		</div>
		<div class="container">
			<div class="row">
				<div class="col-md-6 col-md-offset-3">
					<input type="text" class="form-control" placeholder="Nickname" id="name" value="Anonymous" autocomplete="off" />
					<div id="chat" class="form-control"></div>
					<input type="text" class="form-control" placeholder="Say something..." id="input" autocomplete="off" />
				</div>
			</div>
			<div class="row">
				<div class="col-md-12">
					<p>&nbsp;</p>
				</div>
			</div>
		</div>
	</body>
</html>