<!DOCTYPE html>
<html>
	<head>
		<% include ../partials/header.ejs %>
	</head>

	<body>

		<% include ../partials/nav.ejs %>

		<div class="jumbotron text-center">
			<div class="container">
				<a href="/" class="lang-logo">
					<img src="/lang-logo.png">
				</a>
				<h1>securechat-relay</h1>
				<p>Not secure at the moment, but chat works.</p>
				<a type="button" class="btn btn-lg btn-primary" href="#chat"><span class="glyphicon glyphicon-user"></span> Start chatting</a>
			</div>
		</div>
		<div class="container">
			<div class="row">
				<div class="col-md-6 col-md-offset-3">
					<div id="chat"></div>
				</div>
				<div class="col-md-6 col-md-offset-3">
					<input type="text" class="form-control" placeholder="Say something..." id="input" />
				</div>
			</div>
		</div>
	</body>
</html>